body{
    /*background-image: linear-gradient(90deg, #051937, #001f54, #0d22aa);*/
    background-image: linear-gradient(90deg, #051937, #001f54, #0d22aa);
}
header{

}
main{

}
footer{

}
h1{
    font-size: 2.5vw;
}
h2{
    font-size: 2.0vw;
}
h3{
    font-size: 1.5vw;
}
h4{
    font-size: 1.0vw;
}
.central_window{
    min-width:500px;
    max-width: 800px;
    margin:auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding:10px;
    margin-top: 30vh;
    transform: translateY(-50%);
}
.general_message{
    min-width: 450px;
    max-width: 780px;
    border:1px solid red;
    display:flex;
}
.container_logo{
    flex:20%;
    border:1px solid orange;
    float:left;
}
.logo_woods{

}
.container_msg{

}
.error_btn{
    background-color: #3f9bf8;
    color:#ffffff;
    padding:0.7vw;
    border-radius: 4px;
    font-size:1.1vw;
    cursor: pointer;
}
.general_infos{
    width:100%;
    display:flex;
}
.info{
    flex:200px;
}